/* Body */
$body-bg: #fff;
$body-color: #40403F;

/* Colors */
$primary: #E40321;
$secondary: #fff;
$black: #40403F;
$gray: #F2F2F2;
$gold: #D1B362;
$form-border: $primary;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'white': #fff,
    'black': $black,
    'gray': $gray,
    'gold': $gold
);

/* Spacers */
$spacer: 1rem;
$spacers: (
    0: 0,
    1: pxtorem(4px),
    2: pxtorem(8px),
    3: pxtorem(16px),
    4: pxtorem(24px),
    5: pxtorem(32px),
    6: pxtorem(40px),
    7: pxtorem(48px),
    8: pxtorem(56px),
    9: pxtorem(64px),
    10: pxtorem(10px),
    12: pxtorem(12px),
    80: pxtorem(80px),
    88: pxtorem(88px),
    112: pxtorem(112px),
    192: pxtorem(192px),
    256: pxtorem(256px),
    352: pxtorem(352px),
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    mega: 1900px
);

/* Font */
$font-family-primary: 'Inter', sans-serif;
$font-family-secondary: 'Slavia Headline Semibold', sans-serif;

$font-family-sans-serif: $font-family-primary;
$font-weight-base: 400;
$font-size-base: 1rem;
$font-sizes: ( 
    1:  8rem,    // 128px
    2:  3.5rem,     // 56px
    3:  3rem,       // 48px
    4:  2.5rem,     // 40px
    5:  2rem,       // 32px
    6:  1.5rem,     // 24px
    7:  1.313rem,   // 21px
    8:  1.25rem,    // 20px
    9:  1.125rem,   // 18px
    10:  1rem,      // base
    11: .875rem,    // 14px
    12: .75rem,     // 12px
);

$h1-font-size: 8rem;
$h2-font-size: 2.5rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1rem;

$hr-opacity: 1;
$headings-font-weight: 700;

/* Borders */
$border-radius-sm: pxtorem(2px);
$border-radius: pxtorem(5px);
$border-radius-lg: pxtorem(8px);
