.fanshop-section {
    position: relative;
    background-image: url('../images/pozadi.png');
    background-position: center;
    background-size: cover;

    @include media-breakpoint-up(mega) {
        background-image: none;
    }
}

.fanshop-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.fanshop-grid {
    position: relative;
    display: grid;
    gap: 1rem;
    grid-template-areas: "a a b c d e e"
    "a a f g h e e";
    overflow-x: auto;
    padding-bottom: 6px;
    z-index: 1;

    @include scrollbar;
}
                        
.fanshop-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;

    $letters: a, b, c, d, e, f, g, h;    

    @each $current-letter in $letters {
        $i: index($letters, $current-letter);

        &:nth-child(#{$i}) {
            grid-area: $current-letter;
            min-width: 25vw;

            @include media-breakpoint-up(xl) {
                min-width: 20vw;
            }
        }
    }

    &:nth-child(1), &:nth-child(5) {
        min-width: 40vw;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.fanshop-text {
    img {
        height: 25px;
        width: auto;

        @include media-breakpoint-up(md) {
            height: 46px;
        }
    }
}

.fanshop-tshirt {
    img {
        height: auto;
    }
}