.hero-section {
    position: relative;
    padding-top: 75px;
    height: 55vh;

    @include media-breakpoint-up(md) {
        height: 90vh;
    }

    @include media-breakpoint-up(xl) {
        padding-top: 90px;
        height: 95vh;
    }


    .logo {
        position: absolute;
        right: 2.5rem;
        top: 2.5rem;
        height: 20vw;

        img {
            max-height: 100%;
            width: auto;
        }
    }

    .play-btn {
        cursor: pointer;
        z-index: 5;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        border: none;
        
        img {
            display: block;
            box-shadow: 0 15px 15px white;
            width: 80px;
            height: 80px;

            @include media-breakpoint-up(md) {
                width: 140px;
                height: 140px;
            }
        } 
    }
}

.video-modal {
    position: relative;
    display: none;
    z-index: 20;

    &.active {
        display: block;
    }

    .backdrop {
        position: fixed;
        inset: 0;
        background: $black;
        opacity: .5;
        width: 100vw;
        height: 100vh;
        cursor: pointer;
    }

    .close-btn {
        cursor: pointer;
        background: none;
        border: none;
        color: white;
        position: fixed;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 1.5rem;
    }
}

.hero-video {
    display: block;
    object-fit: cover;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90vw, 1000px);
    height: auto;
}

.aside-bg {
    position: absolute;
    left: 0;
    top: 90vh;
    height: 1325px;
}